/* googlefonts의 폰트 파일을 가져옴. 폰트 파일을 많이 추가할 수록 웹사이트가 무거워지니 선택적으로 쓰자.*/
@import url("https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300;400;900&display=swap");
/* 파일 순서 중요하다. 먼저 reset과 variables를 넣은 다음, 다른 CSS를 적용시켜야 함. */
@import "reset.css";
@import "variables.css";

/*components folder*/
@import "components/status-bar.css"; /*import!*/
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/icon-row.css";
@import "components/alt-screen-header.css";
@import "components/no-mobile.css";
@import "components/advertisement.css";

/*screens folder*/
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/search.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chat.css";

/* default styles */
body {
  color: #2e363e;
  /* applying google font */
  font-family: "Londrina Solid", cursive;
  letter-spacing: 1.5px;
}
.main-screen {
  padding: 0px var(--horizontal-space);
  margin: 120px 0 0;
}
input:focus {
  outline: none;
}
a {
  color: inherit;
  text-decoration: none;
}
/* changing audio default style */
audio {
  display: block;
  width: 240px;
  background-color: inherit;
  outline: none; /*outline !*/
}
/* webkit ! */
audio::-webkit-media-controls-panel {
  background-color: #4cabc5;
}
audio::-webkit-textfield-decoration-container {
  color: white;
}
