.friends-screen {
  margin-top: 120px;
  padding: 10px var(--horizontal-space) 80px;
}
.friends-screen__channel {
  margin-top: 15px;
}
.friends-screen__channel-header {
  display: flex;
  justify-content: space-between;
  padding: 8px 0 20px;
  color: lightskyblue;
  border-top: var(--main-border);
}
.friends-screen__channel-header i:hover {
  cursor: pointer;
}
@keyframes hideSplashScreen {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    display: none;
    visibility: hidden;
  }
}
#splash-screen {
  position: fixed;
  z-index: 3;
  /* linear-gradient */
  background: linear-gradient(#55ecf1, rgb(241, 189, 77));
  width: 100vw;
  height: 100vh;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 128px;
  animation: hideSplashScreen 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  /*forwards! it remembers the end of keyframe.*/
  animation-delay: 1.5s;
}
