.badge {
    display: flex; /*display를 한 element에 여러개 써도 되는구나. 그냥 한번에 쓰면 안되나*/
    justify-content: center;
    align-items: center;
    border-radius: 13px;
    width: 26px;
    height: 26px;
    font-size: 18px;
    background-color: orangered;
    color: white;
}
