.screen-fixed {
  /*status-bar과 screen-header을 하나로 묶어서 fixed.*/
  position: fixed;
  width: 100%;
  top: 0; /*상단에 놓으려면 필수. 다른 element가 margin을 주면, 얘는 위치가 안정해져있어서 그대로 밀려난다.*/
  z-index: 2;
  background-color: var(--yellow);
  /*I don'g understand this. ucking background makes it complete.*/
  box-shadow: 1px 3px 12px 2px var(--opacity);
}
.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px var(--horizontal-space);
  font-size: 30px;
  font-weight: 900;
  z-index: 1; /*왠지는 모르겠는데 chat 화면에서 시간글자가 레이어위로 나온다.*/
}
/* icon style */
.screen-header__icons i {
  transition: all 0.6s cubic-bezier(0, 0.55, 0.45, 1);
  border-radius: 50%;
  padding: 12px;
}
.screen-header__icons i:hover {
  background-color: rgba(0, 0, 0, 0.17);
  color: #70883c;
}

@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg) rotateY(360deg);
  }
}
.screen-header__icons .fa-cog:hover {
  animation: rotateCog 3s ease-in-out infinite;
}
.screen-header__title-search {
  cursor: pointer;
}
/* search.html - screan-header__title pop-up effect */
@keyframes text-pop-up-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    color: orange;
    -webkit-transform: translateY(50px);
    transform: translateY(12px) translateX(8px);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc,
      0 4px 0 #cccccc, 0 5px 0 #eee, 0 6px 0 #eee, 0 7px 0 #eee, 0 8px 0 #eee,
      0 9px 0 #eee, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}
.screen-header__title-search:nth-child(2) {
  animation: text-pop-up-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.screen-header__title-search:not(:nth-child(2)):hover {
  animation: text-pop-up-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.screen-header__title-search:not(:nth-child(2)) {
  color: var(--opacity);
}
