.status-bar {
    display: flex; /*보통은 간격을 주기위해 space-between을 쓰지만, CSS 핵이란 걸 응용해서 center을 씀.*/
    padding: 5px 3px;
    background-color: rgb(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
}
.status-bar:hover {
    background-color: rgb(0, 0, 0, 0.5);
}
.status-bar__column {
    width: 33%;
}
.status-bar__column:first-child span {
    margin-right: 5px;
}
.status-bar__column:nth-child(2) {
    display: flex;
    justify-content: center;
}
.status-bar__column:nth-child(3) {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.status-bar__column .fa-battery-quarter {
    margin: 0 5px;
}
