.user-component,
.user-component__column:first-child {
  /*부모와 자식 중복으로 적용. component의 flex는 component__column을, component__column의 flex는 그 안의 img와 text를 center로 정렬하고 있다.*/
  display: flex;
  align-items: center;
}
.user-component {
  justify-content: space-between;
  margin-bottom: 16px; /*조정 필요*/
  padding: 2px 16px 2px 18px;
  border-radius: 10px;
  background-color: rgba(238, 236, 236, 0.6);
}
.user-component__avatar {
  width: 60px;
  height: 60px;
  border-radius: 20px;
  margin-right: 18px;
}
.user-component__title {
  text-transform: capitalize;
  font-size: 21px;
  font-weight: 600;
}
.user-component__title--not-bold {
  font-weight: 400;
}
.user-component__subtitle {
  margin-top: 12px;
  font-size: 17px;
  color: var(--opacity);
}
.user-component__avatar--xl {
  width: 70px;
  height: 70px;
}
.user-component__avatar--sm {
  width: 57px;
  height: 57px;
  border-radius: 18px;
}
.user-component__column:last-child {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: var(--opacity);
}
/*이 column에다가 height를 주면 space-between을 넣음으로써 밑의 margin짓거리를 안해도 된다.
그러나, 이 column은 공유된다. 다른 html(friends, search,more)의 스타일에도 영향을 준다는 것.
 그러니 특별한 경우가 아니라면 공통적으로 적용하기 쉽게끔 css를 짜야 한다!*/
.user-component__time {
  margin-bottom: 10px;
}
.user-component__melon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 11px 6px 16px;
  border-radius: 16px;
  font-weight: 300;
  border: 4px solid #00cd3c;
  background-color: whitesmoke;
}
.user-component__melon img {
  height: 14px;
  width: 14px;
}
.user-component__melon span {
  color: black;
}
.user-component__melon i {
  margin-left: 6px;
  color: #00cd3c;
}
.user-component__column i:hover {
  cursor: pointer;
}
.see-below {
  cursor: pointer;
  font-size: 24px;
  margin: 30px 32vw 0 37vw;
  color: rgb(58, 141, 177);
}
